body{
margin:0;
font-family:Arial;
color:white;
background:black;
}
header{
background:rgba(0,0,0,0.8);
padding:20px;
text-align:center;
position:fixed;
width:100%;
}

nav a{
margin:20px;
color:white;
text-decoration:none;
font-size:18px;
}
.hero{
height:100vh;
background-image:url("warbg.jpg");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}
.hero h1{
font-size:60px;
}

button{
background:#b30000;
color:white;
border:none;
padding:15px 30px;
font-size:18px;
cursor:pointer;
}
.logo{
width:120px;
display:block;
margin:auto;
}
.trailer{
text-align:center;
padding:80px;
background:black;
}
.screenshots{
padding:60px;
text-align:center;
background:#111;
}

.gallery{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.gallery img{
width:300px;
border-radius:10px;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.1);
}